body{
    background-color:#f1f1f1;
    color: white;
    font-size: 15px;
     padding-top: 65px; 
    }


    .card{
     background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 5px;
       margin: 10 auto;
       float: none;
       margin-bottom: 1px;
      
    }


    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0,0.5);
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }

    .card button {
      border: none;
      outline: 0;
      padding: 1px;
      color: black;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 15px;
    }	
    
    
    img {
        
        border-radius: 50%;
        margin: 0 auto;
        width: 300;
        height: 300;
    }
    

    .btn {
        color: black;
        font-weight: bold;
        }
        
    .btn-default:hover {
     background-color:transparent;
     border-color:transparent;
     font-style:bold;
     color:red;
    }	

    p{
    font-size:15px;
    color: black;
    }
    
    
    h1, h3, h4{
    color:black;
    width:100%;
    }
    
    #profHeading, #aboutHeading, #shareHeading, #worksHeading{
    color:white;
    width:100%;
    margin:0 auto;
    }
    

    .shareButton{
    border-color:transparent;font-size:30px;color:silver;
    }
    
    #fb:hover{
    color:blue;
    }
    #wa:hover{
    color:green;
    }
    #tw:hover{
    color:skyblue;
    }
    #li:hover{
    color:white;
    background-color:blue;
    }
    #ma:hover{
    color:red;
    background-color:white;
    }

        
    li{
    color: white;
    }
    
    #resumeDiv li, h3{
    color:black;}
    
    #submitButton, #viewmoreButton{
    background-color:transparent;
    color:black;
    width:100%;
    
    }
    
    #MERGE0{
    background-color:white;
    color:black;
    width:100%;
    }
    
    .apps{
    border-color:transparent;font-size:100px;color:silver;
    }